#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36vw;
}

#deck {
  font-size: 2rem;
  border-style: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  background: rgb(39, 87, 245);
  cursor: pointer;
  box-shadow: 0 0 15px rgb(27, 27, 27);
  width: 13vw;
  transition: all 0.3s;
}

#deck:hover {
  transform: scale(0.9);
}

#stand {
  font-size: 2rem;
  border-style: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  background: rgb(11, 165, 11);
  cursor: pointer;
  box-shadow: 0 0 15px rgb(27, 27, 27);
  width: 13vw;
  transition: all 0.3s;
}

#stand:hover {
  transform: scale(0.9);
}

#player-hand {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-left: 6vw;
}

.player-hand-card {
  width: 140px;
  margin-left: -95px;
  margin-bottom: 2vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.548);
  transition: all 0.1s;
}

.player-hand-card:hover {
  transform: translateY(-1vh);
}

#bot-hand {
  position: fixed;
  top: 0;
  display: flex;
}

.bot-hand-card {
  width: 140px;
  margin-left: 8px;
  margin-top: 2vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);
  cursor: not-allowed;
}

#money {
  position: fixed;
  top: 3vh;
  left: 3vw;
  font-size: 22px;
}

#money span {
  color: rgb(0, 255, 0);
}

#lose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  color: black;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(204, 46, 46);
  border-width: 3px;
  background-color: #f8f8f8;
  width: 50vw;
  height: 35vh;
  z-index: 420;
  padding: 10px;
}

#lose-container p {
  font-size: 28px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

#play-again-btn {
  padding: 20px 40px;
  border-style: none;
  border-radius: 8px;
  color: white;
  font-size: 26px;
  background-color: rgb(221, 33, 33);
  cursor: pointer;
  transition: all 0.1s;
}

#play-again-btn:hover {
  opacity: 0.9;
}

#bet-display {
  position: fixed;
  top: 7vh;
  left: 3vw;
  font-size: 22px;
}

#bet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  color: black;
  border-radius: 10px;
  background-color: #f8f8f8;
  width: 50vw;
  height: 35vh;
  z-index: 69;
  padding: 10px;
}

#bet-container p {
  font-size: 32px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#bet-container label {
  font-size: 24px;
}

.bet-btns {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.bet-btns:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.bet-btns:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.bet-btns:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#bet-span {
  color: rgb(211, 21, 21);
}

#all-in {
  align-items: center;
  appearance: none;
  background-color: #ff5a5a;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #e44545 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

#all-in:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e44545 0 -3px 0 inset;
}

#all-in:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #e44545 0 -3px 0 inset;
  transform: translateY(-2px);
}

#all-in:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#custom-bet {
  display: flex;
  margin-top: 3vh;
  gap: 1vw;
  align-items: center;
}

#amount-input {
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
}

#amount-input-submit {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

#amount-input-submit:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

#amount-input-submit:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#amount-input-submit:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
