#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#actions {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#draw-deck-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#draw-deck-container img {
  width: 150px;
  box-shadow: 0 0 16px rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.2s;
}

#draw-deck-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 16px rgb(156, 156, 156);
}

#draw-deck-container img:active {
  opacity: 0.15;
}

#draw-deck-container p {
  text-align: center;
  margin-bottom: 1vh;
  font-weight: bold;
  font-size: 2rem;
}

#stand-container {
  background: none;
  border: 0;
}

#stand {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 213.417px;
  background: rgb(4, 80, 219);
  box-shadow: 0 0 16px rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.2s;
}

#stand:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0);
}

#stand:active {
  opacity: 0.15;
}

#stand-container p {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #fff
}

#player-hand {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.player-hand-card {
  width: 140px;
  margin-left: -20px;
  margin-bottom: 2vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.548);
  transition: all 0.1s;
}

.player-hand-card:hover {
  transform: translateY(-1vh);
}

#bot-hand {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}

.bot-hand-card {
  width: 140px;
  margin-left: 8px;
  margin-top: 2vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);
  cursor: not-allowed;
}
